.event-card {
    width: 100%;
    max-width: 350px;
    padding: 21px 75px 13px 25px;
    border-radius: 19px;
    background: var(--color-blue-lightest);
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease-in-out;

    &-icon {
        position: absolute;
        bottom: -6px;
        right: 0;
        color: var(--color-blue-lighter);
    }

    &-link {
        position: absolute;
        bottom: 0;
        right: 0;
        border-radius: 16px 0px 19px;
        outline: 0;
        border: 0;
        background: var(--color-neutral-0);
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color-blue-dark);
        cursor: pointer;
        font-size: var(--font-size-h3);
        text-decoration: none;
        z-index: 2;

        &:hover {
            text-decoration: none;
        }
    }

    &__content {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;

        &-title,
        &-subtitle {
            font-size: var(--font-size-s);
            transition: color 0.3s ease-in-out;
        }

        &-title {
            font-weight: var(--font-bold);
            color: var(--color-blue-darkest);
        }

        &-subtitle {
            margin-top: 13px;
            font-weight: 500;
            line-height: 24px;
            color: var(--color-blue-darker);
        }
    }

    &__footer {
        margin-top: 10px;
        padding-top: 18px;
        padding-bottom: var(--space-s);
        border-top: 1px solid #93b0c84d;
        font-weight: 500;
    }

    &__content,
    &__footer {
        position: relative;
        z-index: 1;
    }

    &--active {
        background: #4263eb;
        box-shadow: 0px 2px 4px #0000001a;

        .event-card-icon {
            top: 0;
            right: 28px;
        }

        .event-card-link {
            color: #2e45a4;
        }

        .event-card__content {
            &-title,
            &-subtitle {
                color: var(--color-neutral-0);
            }
        }

        .event-card__footer {
            border-top-color: color-mix(
                in srgb,
                var(--color-neutral-0) 30%,
                transparent
            );
        }
    }
}
