.pagination {
    &-button {
        border: var(--border-size-none);
        outline: 0;
        background: transparent;
        border-radius: var(--border-radius-circle);

        &.is--active {
            background: var(--color-neutral-0);
        }
    }
}
