.layout-screen .osui-sidebar.sidebar-menu {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--color-primary);
    color: var(--color-neutral-0);
    z-index: 2;
    border-radius: 0 24px 24px 0;
    transition: width 0.3s ease-in-out;

    .osui-sidebar__header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: var(--space-base);
        padding-bottom: var(--space-none);

        .icon-logo {
            font-size: 30px;
        }

        .app-logo {
            max-width: 0%;
            transition: max-width 0.3s ease-in-out;
        }

        .sidebar-menu__toggle-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            outline: 0;
            border: 0;
            background: transparent;
            cursor: pointer;
            font-size: 24px;
            color: var(--color-neutral-3);
            transition: transform 0.3s ease-in-out;
        }

        .burger {
            display: none;
            outline: 0;
            border: 0;
            background: transparent;
            font-size: 30px;
            cursor: pointer;
            flex-flow: row nowrap;
            align-items: center;
            gap: 20px;
            color: var(--color-neutral-0);

            &-label {
                display: none;
                font-size: var(--font-size-base);
            }
        }
    }

    .osui-sidebar__content {
        padding: var(--space-l);
        padding-top: 145px;

        .sidebar-menu-nav-items {
            height: 100%;
            display: flex;
            flex-flow: column nowrap;
            gap: 21px;
            overflow: hidden;

            .OSBlockWidget {
                .sidebar-menu-nav-item {
                    display: flex;
                    align-items: center;
                    gap: var(--space-none);
                    cursor: pointer;
                    transition: gap 0.15s ease-in-out;

                    &.sidebar-menu-nav-item--active,
                    &:hover {
                        .icon {
                            background: #00113333;
                        }
                    }

                    .icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: var(--space-xxl);
                        height: var(--space-xxl);
                        border-radius: 11px;
                        background: transparent;
                        font-size: var(--font-size-h4);
                        transition: background 0.2s ease-in-out;
                    }

                    .label {
                        display: block;
                        font-weight: 500;
                        overflow: hidden;
                    }
                }

                &:last-child {
                    margin-top: auto;
                }
            }
        }
    }

    &.sidebar-menu--collapsed {
        .osui-sidebar__content {
            .sidebar-menu-nav-items {
                .OSBlockWidget {
                    .sidebar-menu-nav-item {
                        .label {
                            width: var(--space-none);
                            opacity: 0;
                            transition: width 0.2s ease-in-out,
                                opacity 0.15s ease-in-out;
                        }
                    }
                }
            }
        }
    }

    &.sidebar-menu--expanded {
        .osui-sidebar__header {
            .app-logo {
                max-width: 100%;
            }
            .sidebar-menu__toggle-btn {
                transform: rotate(-180deg);
            }
        }
        .osui-sidebar__content {
            .sidebar-menu-nav-items {
                .OSBlockWidget {
                    .sidebar-menu-nav-item {
                        gap: var(--space-s);

                        .label {
                            width: 65%;
                            opacity: 1;
                            transition: width 0.5s ease-in-out,
                                opacity 0.5s ease-in-out;
                        }
                    }
                }
            }
        }
    }
}

@for $i from 1 through 5 {
    .layout-screen .osui-sidebar.sidebar-menu {
        &--collapsed {
            .osui-sidebar__content
                .sidebar-menu-nav-items
                .OSBlockWidget:nth-child(#{$i})
                .sidebar-menu-nav-item
                .label {
                transition-delay: ((6 - $i) * 0.075s);
            }
        }
        &--expanded {
            .osui-sidebar__content
                .sidebar-menu-nav-items
                .OSBlockWidget:nth-child(#{$i})
                .sidebar-menu-nav-item
                .label {
                transition-delay: ($i * 0.075s) + 0.05s;
            }
        }
    }
}

.tablet,
.phone {
    .layout-screen .osui-sidebar.sidebar-menu {
        position: fixed;
        width: 100dvw;
        max-width: 100dvw;
        height: var(--sidebar-menu-height);
        border-radius: 0;
        transition: none;

        .osui-sidebar__header {
            flex-flow: row-reverse nowrap;
            padding: 20px;
            gap: 20px;
            background: var(--color-primary);
            box-shadow: 0 8px 20px 0px
                color-mix(in srgb, var(--color-primary) 50%, transparent);
            z-index: 2;

            .app-logo {
                max-width: 100%;
                transition: none;
                margin-left: auto;
                margin-right: var(--space-base);
            }

            .sidebar-menu__toggle-btn {
                display: none;
            }

            .burger {
                display: flex;

                &-label {
                    display: block;
                }
            }
        }

        .osui-sidebar__content {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100dvw;
            height: 100dvh;
            padding: 70px var(--space-l) 70px;
            position: fixed;
            transform: translateY(-100%);
            background: var(--color-primary);
            background: linear-gradient(
                to bottom,
                var(--color-primary) 10%,
                color-mix(in srgb, var(--color-primary) 20%, transparent)
            );
            backdrop-filter: blur(10px);
            box-shadow: 0 8px 20px 0px
                color-mix(in srgb, var(--color-primary) 50%, transparent);
            z-index: 1;
            transition: transform 0.4s ease-in-out;

            .sidebar-menu-nav-items {
                display: grid;
                grid-template-columns: repeat(3, 120px);
                gap: 60px;
                height: unset;
                transition: gap 0.3s ease-in-out;

                .OSBlockWidget {
                    .sidebar-menu-nav-item {
                        flex-flow: column nowrap;
                        padding: var(--space-base);
                        border: 2px solid #0011331a;
                        border-radius: 16px;
                        background: color-mix(
                            in srgb,
                            var(--color-primary) 20%,
                            transparent
                        );
                        transition: background 0.15s ease-in-out;

                        .icon {
                            background: #0011331a;
                        }

                        &.sidebar-menu-nav-item--active,
                        &:hover {
                            background: #00113333;
                        }

                        .label {
                            width: unset;
                        }
                    }
                }

                .OSBlockWidget:last-child {
                    margin-top: unset;
                }
            }
        }

        &--expanded {
            .osui-sidebar__content {
                transform: translateY(0);

                .sidebar-menu-nav-items {
                    .OSBlockWidget .sidebar-menu-nav-item .label {
                        transition-delay: 0s;
                    }
                }
            }
        }
    }
}

.phone {
    .layout-screen .osui-sidebar.sidebar-menu {
        .osui-sidebar__content {
            .sidebar-menu-nav-items {
                grid-template-columns: repeat(2, auto);
                gap: 30px 60px;
            }
        }
    }
}
