.layout-screen .osui-sidebar.sidebar-menu {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--color-primary);
    color: var(--color-neutral-0);
    z-index: 2;
    border-radius: 0 24px 24px 0;
    transition: width 0.3s ease-in-out;

    .osui-sidebar__header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: var(--space-base);
        padding-bottom: var(--space-none);

        .icon-logo {
            font-size: 30px;
        }

        .app-logo {
            max-width: 0%;
            transition: max-width 0.3s ease-in-out;
        }

        .sidebar-menu__toggle-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            outline: 0;
            border: 0;
            background: transparent;
            cursor: pointer;
            font-size: 24px;
            color: var(--color-neutral-3);
            transition: transform 0.3s ease-in-out;
        }

        .sidebar-menu__toggle-mobile {
            display: none;
            outline: 0;
            border: 0;
            background: transparent;
            cursor: pointer;
            flex-flow: row nowrap;
            align-items: center;
            gap: 20px;
            color: var(--color-neutral-0);

            &-icons {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                width: 30px;
                height: 30px;
                overflow: hidden;
            }

            &-icon {
                position: absolute;
                font-size: 30px;
                color: var(--color-neutral-0);
                width: 100%;
                top: 50%;
                left: 50%;
                translate: -50% -50%;
                transition: transform 0.3s ease-out;

                &.icon-burger {
                    transform: translateY(0);
                }
                &.icon-cross {
                    font-size: 28px;
                    transform: translateY(-100%);
                }
            }

            &-label {
                display: none;
                font-size: var(--font-size-base);
            }
        }
    }

    .osui-sidebar__content {
        padding: var(--space-l);
        padding-top: 145px;

        .sidebar-menu-nav-items {
            height: 100%;
            display: flex;
            flex-flow: column nowrap;
            gap: 21px;
            overflow: hidden;

            .OSBlockWidget {
                &:last-child {
                    margin-top: auto;
                }
            }
        }
    }

    &.sidebar-menu--expanded {
        .osui-sidebar__header {
            .app-logo {
                max-width: 100%;
            }
            .sidebar-menu__toggle-btn {
                transform: rotate(-180deg);
            }
        }
    }
}

.tablet,
.phone {
    .layout-screen .osui-sidebar.sidebar-menu {
        position: fixed;
        width: 100dvw;
        max-width: 100dvw;
        height: var(--sidebar-menu-height);
        border-radius: 0;
        transition: none;

        .osui-sidebar__header {
            flex-flow: row-reverse nowrap;
            padding: 20px;
            gap: 20px;
            background: var(--color-primary);
            box-shadow: 0 8px 20px 0px
                color-mix(in srgb, var(--color-primary) 50%, transparent);
            z-index: 2;

            .app-logo {
                max-width: 100%;
                transition: none;
                margin-left: auto;
                margin-right: var(--space-base);
            }

            .sidebar-menu__toggle-btn {
                display: none;
            }

            .sidebar-menu__toggle-mobile {
                display: flex;

                &-label {
                    display: block;
                }
            }
        }

        .osui-sidebar__content {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100dvw;
            height: 100dvh;
            padding: 70px var(--space-l) 70px;
            position: fixed;
            transform: translateY(-100%);
            background: var(--color-primary);
            background: linear-gradient(
                to bottom,
                var(--color-primary) 10%,
                color-mix(in srgb, var(--color-primary) 20%, transparent)
            );
            backdrop-filter: blur(10px);
            box-shadow: 0 8px 20px 0px
                color-mix(in srgb, var(--color-primary) 50%, transparent);
            z-index: 1;
            transition: transform 0.4s ease-in-out;

            .sidebar-menu-nav-items {
                display: grid;
                grid-template-columns: repeat(3, 120px);
                gap: 60px;
                height: unset;
                transition: gap 0.3s ease-in-out;

                .OSBlockWidget:last-child {
                    margin-top: unset;
                }
            }
        }

        &--expanded {
            .osui-sidebar__header {
                .sidebar-menu__toggle-mobile {
                    &-icon {
                        &.icon-burger {
                            transform: translateY(100%);
                        }
                        &.icon-cross {
                            transform: translateY(0);
                        }
                    }
                }
            }
        }
    }
}

.phone {
    .layout-screen .osui-sidebar.sidebar-menu {
        .osui-sidebar__content {
            .sidebar-menu-nav-items {
                grid-template-columns: repeat(2, auto);
                gap: 30px 60px;
            }
        }
    }
}
