.layout-screen .sidebar-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

    &--collapsed {
        .sidebar-info__toggle {
            &-icon {
                transform: rotate(-180deg);
            }
        }
    }

    &__toggle {
        position: absolute;
        top: 72px;
        right: 0;
        width: var(--space-xl);
        height: 80px;

        &-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            outline: 0;
            border: 0;
            background: var(--color-neutral-0);
            border-radius: 32px 0 0 32px;
            box-shadow: -1px 1px 4px #0000000d;
            cursor: pointer;
        }

        &-icon {
            font-size: var(--font-size-h2);
            color: var(--color-primary);
            transition: transform 0.3s ease-in-out;
        }
    }

    &__content {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        height: 100%;
        gap: var(--space-m);
        width: 390px;
        padding: var(--space-xl) var(--space-l);
        overflow-y: auto;

        .OSBlockWidget {
            display: contents;
        }
    }

    &__profile {
        width: 100%;
        display: grid;
        grid-template-areas:
            "image name status"
            "image info status";
        grid-template-columns: var(--space-xxl) auto var(--space-xl);
        align-items: center;
        column-gap: 26px;

        .profile-picture {
            grid-area: image;
            width: var(--space-xxl);
            height: var(--space-xxl);
            border-radius: var(--border-radius-circle);
        }

        .user-name {
            grid-area: name;
            font-weight: var(--font-bold);
            font-size: var(--font-size-s);
            color: var(--color-neutral-10);
        }

        .profile-info {
            grid-area: info;
            font-weight: 500;
            font-size: var(--font-size-xs);
            color: #00071199;
        }

        .lock-status {
            &-btn {
                grid-area: status;
                margin-left: auto;
                outline: 0;
                border: 0;
                background: transparent;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                width: var(--space-xl);
                height: var(--space-xl);
            }

            &-icon {
                font-size: 24px;
                color: var(--color-neutral-10);
            }
        }
    }

    &__stats {
        width: 100%;
        height: 76px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-around;
        align-items: center;
        padding: 11px 0;
        border-radius: 19px;
        background: var(--color-secondary-lightest);

        .OSBlockWidget {
            display: contents;

            &:not(:last-child) .sidebar-info__stat::after {
                content: "";
                position: absolute;
                right: 0;
                height: 100%;
                width: 1px;
                background: var(--color-secondary-lighter);
            }
        }

        .sidebar-info__stat {
            height: 100%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            position: relative;

            &-label {
                font-size: var(--font-size-s);
                font-weight: 500;
                color: var(--color-secondary-lighter);
            }

            &-value {
                font-size: var(--font-size-h6);
                font-weight: var(--font-bold);
                color: var(--color-secondary-light);
            }
        }
    }

    &__calendar {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        width: 100%;
    }

    &__month {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        width: 100%;
        font-weight: var(--font-bold);
        color: var(--color-neutral-10);

        &-label {
            font-size: var(--font-size-s);
        }

        &-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: 24px;
            font-size: var(--font-size-h4);
        }
    }

    &__days {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        justify-content: space-between;
        align-items: center;
        gap: 2px;
        width: 100%;
        height: 74px;

        .OSFillParent {
            display: contents;
        }
    }

    &__day {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        height: 100%;
        border-radius: 24px;
        background: transparent;
        font-size: var(--font-size-s);
        cursor: pointer;
        transition: background 0.3s ease-in-out;

        > * {
            transition: color 0.3s ease-in-out;
        }

        ::after {
            content: "";
            position: absolute;
            width: 4px;
            height: 4px;
            border-radius: 100%;
            background: transparent;
            transition: background 0.3s ease-in-out;
        }

        &-week {
            font-size: var(--font-size-s);
            font-weight: 500;
            color: var(--color-secondary-dark);
        }

        &-number {
            font-weight: var(--font-bold);
            color: var(--color-neutral-7);
            position: relative;
        }

        &--event {
            .sidebar-info__day-number::after {
                background: var(--color-secondary);
            }
        }

        &--active {
            background: var(--color-secondary);
        }

        &--disabled {
            cursor: default;

            .sidebar-info__day-week,
            .sidebar-info__day-number {
                color: var(--color-neutral-4);
            }

            &.sidebar-info__day--event {
                .sidebar-info__day-number::after {
                    background: var(--color-neutral-4);
                }
            }
        }

        &:hover:not(.sidebar-info__day--active):not(
                .sidebar-info__day--disabled
            ) {
            background: var(--color-secondary-lighter);
        }

        &--active:not(.sidebar-info__day--disabled),
        &:hover:not(.sidebar-info__day--disabled) {
            .sidebar-info__day-week,
            .sidebar-info__day-number {
                color: var(--color-neutral-0);
            }

            &.sidebar-info__day--event {
                .sidebar-info__day-number::after {
                    background: var(--color-neutral-0);
                }
            }
        }
    }

    &__events {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 24px;
        font-size: var(--font-size-s);
        font-weight: var(--font-bold);
        color: var(--color-neutral-10);
    }

    &__event {
        width: 100%;
        padding: 21px 75px 13px 25px;
        border-radius: 19px;
        background: var(--color-secondary-lightest);
        position: relative;
        overflow: hidden;

        &-icon {
            position: absolute;
            bottom: -6px;
            right: 0;
            color: var(--color-secondary-lighter);
        }

        &-link {
            position: absolute;
            bottom: 0;
            right: 0;
            border-radius: 16px 0px 19px;
            outline: 0;
            border: 0;
            background: var(--color-neutral-0);
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--color-secondary-dark);
            cursor: pointer;
            font-size: var(--font-size-h3);
            text-decoration: none;
            z-index: 2;
        }

        &__content {
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;

            &-title,
            &-subtitle {
                font-size: var(--font-size-s);
                transition: color 0.3s ease-in-out;
            }

            &-title {
                font-weight: var(--font-bold);
                color: var(--color-secondary-darkest);
            }

            &-subtitle {
                margin-top: 13px;
                font-weight: 500;
                line-height: 24px;
                color: var(--color-secondary-darker);
            }
        }

        &__footer {
            margin-top: 10px;
            padding-top: 18px;
            padding-bottom: var(--space-s);
            border-top: 1px solid #93b0c84d;
            font-weight: 500;
        }

        &__content,
        &__footer {
            position: relative;
            z-index: 1;
        }

        &--active {
            background: #4263eb;
            box-shadow: 0px 2px 4px #0000001a;

            .sidebar-info__event-icon {
                top: 0;
                right: 28px;
            }

            .sidebar-info__event-link {
                color: #2e45a4;
            }

            .sidebar-info__event__content {
                &-title,
                &-subtitle {
                    color: var(--color-neutral-0);
                }
            }

            .sidebar-info__event__footer {
                border-top-color: color-mix(
                    in srgb,
                    var(--color-neutral-0) 30%,
                    transparent
                );
            }
        }
    }
}

.tablet,
.phone {
    .layout-screen .sidebar-info {
        &__toggle {
            display: none;
        }
    }
}
