.layout-screen .sidebar-info {
    &__calendar {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        width: 100%;
    }

    &__month {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        width: 100%;
        font-weight: var(--font-bold);
        color: var(--color-neutral-10);

        &-label {
            font-size: var(--font-size-s);
        }

        &-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: 24px;
            font-size: var(--font-size-h4);
        }
    }

    &__days {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        justify-content: space-between;
        align-items: center;
        gap: 2px;
        width: 100%;
        height: 74px;

        .OSFillParent {
            display: contents;
        }
    }

    &__day {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        height: 100%;
        max-width: 40px;
        border-radius: 24px;
        background: transparent;
        font-size: var(--font-size-s);
        cursor: pointer;
        transition: background 0.3s ease-in-out;

        > * {
            transition: color 0.3s ease-in-out;
        }

        ::after {
            content: "";
            position: absolute;
            width: 4px;
            height: 4px;
            border-radius: 100%;
            background: transparent;
            transition: background 0.3s ease-in-out;
        }

        &-week {
            font-size: var(--font-size-s);
            font-weight: 500;
            color: var(--color-blue-dark);
        }

        &-number {
            font-weight: var(--font-bold);
            color: var(--color-neutral-7);
            position: relative;
        }

        &--event {
            .sidebar-info__day-number::after {
                background: var(--color-blue);
            }
        }

        &--active {
            background: var(--color-blue);
        }

        &--disabled {
            cursor: default;

            .sidebar-info__day-week,
            .sidebar-info__day-number {
                color: var(--color-neutral-4);
            }

            &.sidebar-info__day--event {
                .sidebar-info__day-number::after {
                    background: var(--color-neutral-4);
                }
            }
        }

        &:hover:not(.sidebar-info__day--active):not(
                .sidebar-info__day--disabled
            ) {
            background: var(--color-blue-lighter);
        }

        &--active:not(.sidebar-info__day--disabled),
        &:hover:not(.sidebar-info__day--disabled) {
            .sidebar-info__day-week,
            .sidebar-info__day-number {
                color: var(--color-neutral-0);
            }

            &.sidebar-info__day--event {
                .sidebar-info__day-number::after {
                    background: var(--color-neutral-0);
                }
            }
        }
    }
}

// Component Styleguide's Preview

.layout-top {
    .pattern-preview-left {
        .pattern-preview-content .sidebar-info {
            &__calendar {
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                width: 100%;
                max-width: 350px;
            }

            &__month {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                width: 100%;
                font-weight: var(--font-bold);
                color: var(--color-neutral-10);

                &-label {
                    font-size: var(--font-size-s);
                }

                &-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 24px;
                    height: 24px;
                    font-size: var(--font-size-h4);
                }
            }

            &__days {
                display: grid;
                grid-template-columns: repeat(8, 1fr);
                justify-content: space-between;
                align-items: center;
                gap: 2px;
                width: 100%;
                height: 74px;

                .OSFillParent {
                    display: contents;
                }
            }

            &__day {
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                justify-content: center;
                height: 100%;
                max-width: 40px;
                border-radius: 24px;
                background: transparent;
                font-size: var(--font-size-s);
                cursor: pointer;
                transition: background 0.3s ease-in-out;

                > * {
                    transition: color 0.3s ease-in-out;
                }

                ::after {
                    content: "";
                    position: absolute;
                    width: 4px;
                    height: 4px;
                    border-radius: 100%;
                    background: transparent;
                    transition: background 0.3s ease-in-out;
                }

                &-week {
                    font-size: var(--font-size-s);
                    font-weight: 500;
                    color: var(--color-blue-dark);
                }

                &-number {
                    font-weight: var(--font-bold);
                    color: var(--color-neutral-7);
                    position: relative;
                }

                &--event {
                    .sidebar-info__day-number::after {
                        background: var(--color-blue);
                    }
                }

                &--active {
                    background: var(--color-blue);
                }

                &--disabled {
                    cursor: default;

                    .sidebar-info__day-week,
                    .sidebar-info__day-number {
                        color: var(--color-neutral-4);
                    }

                    &.sidebar-info__day--event {
                        .sidebar-info__day-number::after {
                            background: var(--color-neutral-4);
                        }
                    }
                }

                &:hover:not(.sidebar-info__day--active):not(
                        .sidebar-info__day--disabled
                    ) {
                    background: var(--color-blue-lighter);
                }

                &--active:not(.sidebar-info__day--disabled),
                &:hover:not(.sidebar-info__day--disabled) {
                    .sidebar-info__day-week,
                    .sidebar-info__day-number {
                        color: var(--color-neutral-0);
                    }

                    &.sidebar-info__day--event {
                        .sidebar-info__day-number::after {
                            background: var(--color-neutral-0);
                        }
                    }
                }
            }
        }
    }
}
