.layout-screen .osui-sidebar.sidebar-menu {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--color-primary);
    color: var(--color-neutral-0);
    z-index: 1;
    border-radius: 0 24px 24px 0;
    transition: width 0.3s ease-in-out;

    .osui-sidebar__header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: var(--space-base);
        padding-bottom: var(--space-none);

        .icon-logo {
            font-size: 30px;
        }

        .sidebar-menu__toggle-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            outline: 0;
            border: 0;
            background: transparent;
            cursor: pointer;
            font-size: 24px;
            color: var(--color-neutral-3);
            transition: transform 0.3s ease-in-out;
        }
    }

    .osui-sidebar__content {
        display: flex;
        flex-flow: column nowrap;
        gap: 21px;
        padding: var(--space-l);
        padding-top: 145px;
        overflow: hidden;

        .OSBlockWidget {
            .sidebar-menu-nav-item {
                display: flex;
                align-items: center;
                gap: var(--space-none);
                transition: gap 0.15s ease-in-out;

                &.sidebar-menu-nav-item--active {
                    .icon {
                        background: #00113333;
                    }
                }

                .icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: var(--space-xxl);
                    height: var(--space-xxl);
                    border-radius: 11px;
                    background: transparent;
                    font-size: var(--font-size-h4);
                    cursor: pointer;
                    transition: background 0.2s ease-in-out;

                    &:hover {
                        background: #00113333;
                    }
                }

                .label {
                    display: block;
                    font-weight: 500;
                    overflow: hidden;
                }
            }

            &:last-child {
                margin-top: auto;
            }
        }
    }

    &.sidebar-menu--collapsed {
        .osui-sidebar__content {
            .OSBlockWidget {
                .sidebar-menu-nav-item {
                    .label {
                        width: var(--space-none);
                        opacity: 0;
                        transition: width 0.2s ease-in-out,
                            opacity 0.15s ease-in-out;
                    }
                }
            }
        }
    }

    &.sidebar-menu--expanded {
        .osui-sidebar__header {
            .sidebar-menu__toggle-btn {
                transform: rotate(-180deg);
            }
        }
        .osui-sidebar__content {
            .OSBlockWidget {
                .sidebar-menu-nav-item {
                    gap: var(--space-s);

                    .label {
                        width: 65%;
                        opacity: 1;
                        transition: width 0.5s ease-in-out,
                            opacity 0.5s ease-in-out;
                    }
                }
            }
        }
    }
}

@for $i from 1 through 5 {
    .layout-screen .osui-sidebar.sidebar-menu {
        &--collapsed {
            .osui-sidebar__content
                .OSBlockWidget:nth-child(#{$i})
                .sidebar-menu-nav-item
                .label {
                transition-delay: ((6 - $i) * 0.075s);
            }
        }
        &--expanded {
            .osui-sidebar__content
                .OSBlockWidget:nth-child(#{$i})
                .sidebar-menu-nav-item
                .label {
                transition-delay: ($i * 0.075s) + 0.05s;
            }
        }
    }
}

.tablet,
.phone {
    .sidebar-menu {
        transform: translateX(-112px);
    }
}
