.layout-screen {
    .osui-sidebar.sidebar-menu {
        .osui-sidebar__content {
            .sidebar-menu-nav-items {
                .OSBlockWidget {
                    .sidebar-menu-nav-item {
                        display: flex;
                        align-items: center;
                        gap: var(--space-none);
                        cursor: pointer;
                        transition: gap 0.15s ease-in-out;

                        &.sidebar-menu-nav-item--active,
                        &:hover {
                            .icon {
                                background: #00113333;
                            }
                        }

                        .icon {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: var(--space-xxl);
                            height: var(--space-xxl);
                            border-radius: 11px;
                            background: transparent;
                            font-size: var(--font-size-h4);
                            transition: background 0.2s ease-in-out;

                            &:first-child {
                                display: contents;
                            }
                        }

                        .label {
                            display: block;
                            font-weight: 500;
                            overflow: hidden;
                        }
                    }
                }
            }
        }

        &.sidebar-menu--collapsed {
            .osui-sidebar__content {
                .sidebar-menu-nav-items {
                    .OSBlockWidget {
                        .sidebar-menu-nav-item {
                            .label {
                                width: var(--space-none);
                                opacity: 0;
                                transition: width 0.2s ease-in-out,
                                    opacity 0.15s ease-in-out;
                            }
                        }
                    }
                }
            }
        }

        &.sidebar-menu--expanded {
            .osui-sidebar__content {
                .sidebar-menu-nav-items {
                    .OSBlockWidget {
                        .sidebar-menu-nav-item {
                            gap: var(--space-s);

                            .label {
                                width: 65%;
                                opacity: 1;
                                transition: width 0.5s ease-in-out,
                                    opacity 0.5s ease-in-out;
                            }
                        }
                    }
                }
            }
        }
    }
}

@for $i from 1 through 5 {
    .layout-screen .osui-sidebar.sidebar-menu {
        &--collapsed {
            .osui-sidebar__content
                .sidebar-menu-nav-items
                .OSBlockWidget:nth-child(#{$i})
                .sidebar-menu-nav-item
                .label {
                transition-delay: ((6 - $i) * 0.075s);
            }
        }
        &--expanded {
            .osui-sidebar__content
                .sidebar-menu-nav-items
                .OSBlockWidget:nth-child(#{$i})
                .sidebar-menu-nav-item
                .label {
                transition-delay: ($i * 0.075s) + 0.05s;
            }
        }
    }
}

.tablet,
.phone {
    .layout-screen .osui-sidebar.sidebar-menu {
        .osui-sidebar__content {
            .sidebar-menu-nav-items .OSBlockWidget .sidebar-menu-nav-item {
                flex-flow: column nowrap;
                padding: var(--space-base);
                border: 2px solid #0011331a;
                border-radius: 16px;
                background: color-mix(
                    in srgb,
                    var(--color-primary) 20%,
                    transparent
                );
                gap: var(--space-s);
                transition: background 0.15s ease-in-out;

                .icon {
                    background: #0011331a;
                }

                &.sidebar-menu-nav-item--active,
                &:hover {
                    background: #00113333;
                }

                .label {
                    width: unset;
                }
            }
        }

        &--expanded {
            .osui-sidebar__content {
                transform: translateY(0);

                .sidebar-menu-nav-items
                    .OSBlockWidget
                    .sidebar-menu-nav-item
                    .label {
                    transition-delay: 0s;
                }
            }
        }
    }
}

// Component Styleguide's Preview

.layout-top {
    .pattern-preview-left {
        .pattern-preview-content {
            .sidebar-menu-nav-item {
                display: flex;
                align-items: center;
                gap: var(--space-s);
                cursor: pointer;
                transition: gap 0.15s ease-in-out;

                &.sidebar-menu-nav-item--active,
                &:hover {
                    .icon {
                        background: #00113333;
                    }
                }

                .icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: var(--space-xxl);
                    height: var(--space-xxl);
                    border-radius: 11px;
                    background: transparent;
                    font-size: var(--font-size-h4);
                    transition: background 0.2s ease-in-out;

                    :first-child {
                        display: contents;
                    }
                }

                .label {
                    display: block;
                    font-weight: 500;
                    overflow: hidden;
                }
            }
        }
    }
}

.tablet,
.phone {
    .layout-top {
        .pattern-preview-left {
            .pattern-preview-content {
                .sidebar-menu-nav-item {
                    flex-flow: column nowrap;
                    padding: var(--space-base);
                    border: 2px solid #0011331a;
                    border-radius: 16px;
                    background: color-mix(
                        in srgb,
                        var(--color-neutral-6) 20%,
                        transparent
                    );
                    gap: var(--space-s);
                    transition: background 0.15s ease-in-out;

                    .icon {
                        background: #0011331a;
                    }

                    &.sidebar-menu-nav-item--active,
                    &:hover {
                        background: #00113333;
                    }

                    .label {
                        width: unset;
                    }
                }
            }
        }
    }
}
