/* ==================================================================== */
/*  Root - CSS Variables                                                */
/* ==================================================================== */

:root {
    /* Color - Brand */

    --color-primary-lightest: #f4f0ff;
    --color-primary-lighter: #ece4ff;
    --color-primary-light: #dacdff;
    --color-primary: #8637fb;
    --color-primary-dark: #6400dc;
    --color-primary-darker: #5102b0;
    --color-primary-darkest: #28065c;

    --color-secondary-lightest: #e2f3f6;
    --color-secondary-lighter: #e2f3f6;
    --color-secondary-light: #9ed7e0;
    --color-secondary: #107485;
    --color-secondary-dark: #105966;
    --color-secondary-darker: #0c454f;
    --color-secondary-darkest: #0c454f;

    --color-neutral-0: #ffffff;
    --color-neutral-1: #f8f9fa;
    --color-neutral-2: #f1f3f5;
    --color-neutral-3: #e9ecef;
    --color-neutral-4: #dee2e6;
    --color-neutral-5: #ced4da;
    --color-neutral-6: #adb5bd;
    --color-neutral-7: #6a7178;
    --color-neutral-8: #4f575e;
    --color-neutral-9: #272b30;
    --color-neutral-10: #101213;

    --color-error: #e03131;
    --color-warning: #e9a100;
    --color-success: #2a843c;
    --color-info: #009dde;

    --color-background-body: #ffffff;

    --sidebar-menu-height: 70px;
}
