/* ==================================================================== */
/*  Root - CSS Variables                                                */
/* ==================================================================== */

:root {
    /* Color - Brand */
    --color-primary: #007684;
    --color-secondary: #007684;

    --color-primary-hover: #195863;
    --color-primary-selected: #19474f;

    --color-primary-lightest: #def2f4;
    --color-primary-lighter: #7ec5cd;
    --color-primary-light: #1d97a6;
    --color-primary-dark: #05616c;
    --color-primary-darker: #024c55;
    --color-primary-darkest: #023136;

    --color-background-body: #f2f2f2;
}