@font-face {
    font-family: "screens-icons";
    src: url("/FinalProject/screens-icons.eot");
    src: url("/FinalProject/screens-icons.ttf") format("truetype"),
        url("/FinalProject/screens-icons.woff") format("woff"),
        url("/FinalProject/screens-icons.svg") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "screens-icons" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-angle-double-right:before {
    content: "\e900";
}
.icon-angle-double-up:before {
    content: "\e901";
}
.icon-angle-down:before {
    content: "\e902";
}
.icon-angle-left:before {
    content: "\e903";
}
.icon-angle-right:before {
    content: "\e904";
}
.icon-angle-up:before {
    content: "\e905";
}
.icon-calendar:before {
    content: "\e906";
}
.icon-caret-down:before {
    content: "\e907";
}
.icon-caret-left:before {
    content: "\e908";
}
.icon-caret-right:before {
    content: "\e909";
}
.icon-caret-up:before {
    content: "\e90a";
}
.icon-chart:before {
    content: "\e90b";
}
.icon-chevron:before {
    content: "\e90c";
}
.icon-cogwheel:before {
    content: "\e90d";
}
.icon-ellipsis-h:before {
    content: "\e90e";
}
.icon-envelope:before {
    content: "\e90f";
}
.icon-files:before {
    content: "\e910";
}
.icon-graph:before {
    content: "\e911";
}
.icon-home:before {
    content: "\e912";
}
.icon-like:before {
    content: "\e913";
}
.icon-location-arrow:before {
    content: "\e914";
}
.icon-lotus-icon:before {
    content: "\e915";
}
.icon-mind-icon:before {
    content: "\e916";
}
.icon-money-bag:before {
    content: "\e917";
}
.icon-musculation-icon:before {
    content: "\e918";
}
.icon-phone:before {
    content: "\e919";
}
.icon-place:before {
    content: "\e91a";
}
.icon-search:before {
    content: "\e91b";
}
.icon-sport:before {
    content: "\e91c";
}
.icon-suitcase:before {
    content: "\e91d";
}
.icon-time:before {
    content: "\e91e";
}
.icon-unlock:before {
    content: "\e91f";
}
.icon-unsorted:before {
    content: "\e920";
}
.icon-unsorted-lines:before {
    content: "\e921";
}
.icon-user:before {
    content: "\e922";
}
.icon-wallet-notify:before {
    content: "\e923";
}
.icon-angle-double-down:before {
    content: "\e924";
}
.icon-angle-double-left:before {
    content: "\e925";
}
