.layout-screen {
    overflow: hidden;
    .screen-content {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 390px);
        height: 100%;
        padding: 70px var(--space-xl) 70px 149px;
        background-color: var(--color-secondary-lightest);
        border-radius: 51px;
        overflow-y: auto;
        z-index: 1;
        transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out,
            padding 0.3s ease-in-out;

        &.sidebar-info--collapsed {
            width: 100%;
        }

        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 22px calc(var(--space-l) + 2px) var(--space-s);

            &__buttons {
                display: flex;
                flex-flow: row nowrap;
                max-height: 48px;
                overflow: hidden;
                transition: max-height 0.3s ease-in-out;
            }
        }

        .search-controls {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            margin-right: 14px;

            &__search-bar {
                display: grid;
                grid-template-columns: 24px 1fr;
                gap: 6px;
                width: 95%;
                max-width: 514px;
                padding-bottom: var(--space-s);
                border-bottom: var(--border-size-m) solid #d4e3f0d9;
                align-items: center;

                &-btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 24px;
                    height: 24px;
                    outline: 0;
                    border: 0;
                    font-size: var(--font-size-h5);
                    background: transparent;
                    color: var(--color-primary);
                    letter-spacing: 0.25px;
                    cursor: pointer;
                }

                &-input {
                    width: 100%;
                    outline: 0;
                    border: 0;
                    background: transparent;
                    font-weight: 500;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    &::placeholder {
                        color: #85a5c2;
                    }
                }
            }

            &__filters-btn {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                outline: 0;
                border: 0;
                background: transparent;
                color: var(--color-neutral-8);
                margin-bottom: var(--space-s);
                white-space: nowrap;
                cursor: pointer;
            }
        }
    }
}

.tablet,
.phone {
    .layout-screen {
        .screen-content {
            width: 100%;
            border-radius: var(--border-radius-none);
            padding-left: var(--space-base);
            padding-right: var(--space-base);

            .search-controls {
                flex-flow: column nowrap;
                align-items: flex-start;
                gap: var(--space-m);
                margin-right: var(--space-none);
                margin-bottom: var(--space-s);

                &__filters-btn {
                    margin-left: auto;
                }
            }
        }
    }
}

.phone {
    .layout-screen {
        .screen-content {
            &__header {
                &__buttons {
                    max-height: var(--space-none);

                    .btn,
                    .btn-primary {
                        white-space: nowrap;
                    }

                    .btn + .btn {
                        margin-top: var(--space-none);
                        margin-left: var(--space-m);
                    }
                }
            }
        }

        .search-controls {
            margin-left: var(--space-base);
        }
    }
}
