.container {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 404px);
    height: 100%;
    padding: 70px 0 70px 157px;
    background-color: var(--color-secondary-lightest);
    border-radius: 51px;
    overflow-y: auto;
    z-index: 0;

    &__header {
        display: flex;
        justify-content: space-between;
        margin-right: 48px;
    }
}

.sidebar-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.sidebar-menu {
    background: var(--color-primary-darker);
    color: var(--color-neutral-0);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 0 24px 24px 0;
}
