.layout-screen {
    overflow: hidden;
    .screen-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--color-neutral-0);
        overflow: hidden;
        z-index: 1;
        padding-right: 0;
        transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out,
            padding 0.3s ease-in-out;

        .scrollable-content {
            width: 100%;
            height: 100%;
            background-color: var(--color-secondary-lightest);
            border-radius: 48px;
            padding: var(--sidebar-menu-height) var(--space-xl) 70px 149px;
            overflow-y: auto;
            .screen-content__header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0 22px calc(var(--space-l) + 2px) var(--space-s);

                &__buttons {
                    display: flex;
                    flex-flow: row nowrap;
                    max-height: 48px;
                    overflow: hidden;
                    transition: max-height 0.3s ease-in-out;
                }
            }

            .search-controls {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 20px;
                margin-right: 14px;

                &__filters-btn {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    outline: 0;
                    border: 0;
                    background: transparent;
                    color: var(--color-neutral-8);
                    margin-bottom: var(--space-s);
                    white-space: nowrap;
                    cursor: pointer;
                }
            }
        }
    }
}

.sidebar-info--expanded {
    .layout-screen {
        .screen-content {
            padding-right: 390px;
        }
    }
}

.tablet,
.phone {
    .layout-screen {
        .screen-content {
            width: 100%;
            height: calc(100% - var(--sidebar-menu-height));
            margin-top: var(--sidebar-menu-height);

            .scrollable-content {
                padding: 30px var(--space-base) 70px;
                border-radius: var(--border-radius-none);

                .search-controls {
                    flex-flow: column nowrap;
                    align-items: flex-start;
                    gap: var(--space-m);
                    margin-right: var(--space-none);
                    margin-bottom: var(--space-s);

                    &__filters-btn {
                        margin-left: auto;
                    }
                }
            }
        }
    }
    &.sidebar-info--expanded {
        .layout-screen {
            .screen-content {
                padding-right: 0;
            }
        }
    }
}

.phone {
    .layout-screen {
        .screen-content {
            .scrollable-content {
                .screen-content__header {
                    &__buttons {
                        max-height: var(--space-none);

                        .btn,
                        .btn-primary {
                            white-space: nowrap;
                        }

                        .btn + .btn {
                            margin-top: var(--space-none);
                            margin-left: var(--space-m);
                        }
                    }
                }
                .search-controls {
                    margin-left: var(--space-base);
                }
            }
        }
    }
}
